

/* Hero */

	#hero {
		background: #369ab8;
		color: #fff;
		text-align: center;
	}

/* Footer */

	#footer {
		color: #62696c;
		text-align: center;
	}

/* Overlays */

	#contactBar {
		border-radius: 0.5em 0.5em 0 0;
		background: rgba(71,86,91,0.9);
		text-align: center;
		line-height: 60px;
		font-size: 1.25em;
	}

	#contactBar a {
		display: inline-block;
		margin: 0 0.85em 0 0.85em;
		color: #fff;
	}

/* Panels */

	#leftPanel,
	#rightPanel,
	#bottomPanel {
		background: #445358;
		padding: 1.25em;
	}

	#leftPanel a,
	#rightPanel a {
		display: block;
		color: #fff;
		border-top: solid 1px #546368;
		line-height: 2.5em;
	}

	#leftPanel li:first-child > a,
	#rightPanel li:first-child > a {
		border-top: 0;
	}

	#bottomPanel form {
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
		text-align: center;
	}