
	#header {
		margin-top: 2em;
	}
	.header { display: none; width: 100%;}

	.mobile-only { display: block; opacity:1; }

	#title {
		text-align: center;
		margin: 0 0 1em 0;
	}
	.carousel-control.left {
	  top: 22%;
	  background: url(../img/slider-left.png) left 43% no-repeat;
	  left: -5px;
	}

	.carousel-control.right {
	  top: 22%;
	  right: -5px;
	  background: url(../img/slider-right.png) right 43% no-repeat;
	  left: auto;
	}
